:root {

    --text-color: #343a40;
    --secoundart-text: #02C1CC;
    --primary: #0220C2;
    --secondary: #CEF3FF;
    --tertiary: #5608CF;
    --silver: #cfd4da;
    --background: #088ECF;

}

* {
    padding: 0;
    margin: 0;

}

body {
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif
}

.hidden {
    display: none;
}

button {
    color: var(--tertiary);
    font-weight: 600;
    font-size: 18px;
    padding: 12px;
    border: 4px solid var(--tertiary);
    border-radius: 8px;
    background-color: white;
}

button:hover {
    color: var(--text-color);
    font-size: 20px;
}


header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: white;


}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin: 12px 48px;
    color: var(--tertiary);

}

header h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: auto;
    margin: 12px 48px;
    border-radius: 4px;
    background-color: var(--tertiary);
    color: white;
}

main {
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */

}

#starting-game {
    /* display: flex;
    flex-direction: column; */
    background-color: var(--primary);
    width: 60%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    border-radius: 8px;
    color: white;
    padding-bottom: 36px;


}

#starting-game h2 {
    /* display: flex;
    justify-content: center; */
    background-color: white;
    color: var(--tertiary);
    width: 97%;
    padding: 10px;
    border-radius: 8px 8px 0 0;

}

#starting-game p {
    font-size: 18px;
    padding: 22px;
    margin-top: 2%;
    text-align: center;
    line-height: 1.4;
}

#starting-game button {
    margin: 24px;
}

#game {
    margin: 10px;
    /* border: 4px solid blue; */
}

#timer {
    text-align: right;
    font-size: 20px;
    font-weight: 500;
    padding: 16px;
    border: 2px solid white;
    margin: 4px;
    color: white;
   
}

.container {
    margin: 20px;
    /* border: 2px solid red; */
}

.question {
    background-color: var(--primary);
    margin: 6px;
    padding: 16px;
    width: fit-content;
    border-radius: 8px;

}

.question h3 {
    color: white;
}

.question ul {
    list-style: none;
    padding-top: 16px;
    margin-left: 36px;
    width: fit-content;
}

.question li {
    display: flex;

    align-items: center;
    justify-items: center;
    padding: 8px;
    height: 24px;
    background-color: white;
    border-radius: 8px;
    margin: 8px 4px;
   

}

.question input {
    margin-right: 8px;
}





#show-answer {
    margin: 20px;
    /* border: 4px solid purple */
}

.countdown {
    padding-left: 10px;
}

#save-section {
    padding: 100px
}

@media screen and (max-width: 480px) {

    h1 {
        font-size: 24px;
        margin: 10px;
    }

    header h3 {
        font-size: 16px;
        margin: 10px;
        padding: 6px;
    }
}